1.solution

In [1]:
a= open("nthdata.txt", "r")

In [2]:
b=a.read()

In [3]:
b

'TCS,Sai,Rohit,Satya,Dhoni,Sarath,Saroj,Venkat,Sas\nINFOSYS,Kohli,Santosh,Venkat,Koti,Prabha,Soumya,Mishra\nWIPRO,Satya,Kohli,Ram,Chinna,Pop,Amelia,Suresh,Arjuna\nCTS,Prabha,Subha,Debha,Rabha,Venkat,Dhoni,Surya,Saroj\nNTH,Narayana,Akhil,Arha,Venkat,Sravya,Ananya,Revanth,Aha\nABC,Arha,Chinna,Satya,Dhoni,Venkat,Rohit,Yash,Nikhilesh\n'

2.solution

In [4]:
a=open("nthdata.txt", "r")

In [5]:
b=a.readline()

In [6]:
b

'TCS,Sai,Rohit,Satya,Dhoni,Sarath,Saroj,Venkat,Sas\n'

3.solution

In [7]:
a=open("nthdata.txt", "r")

In [8]:
b=a.readlines()

In [9]:
b

['TCS,Sai,Rohit,Satya,Dhoni,Sarath,Saroj,Venkat,Sas\n',
 'INFOSYS,Kohli,Santosh,Venkat,Koti,Prabha,Soumya,Mishra\n',
 'WIPRO,Satya,Kohli,Ram,Chinna,Pop,Amelia,Suresh,Arjuna\n',
 'CTS,Prabha,Subha,Debha,Rabha,Venkat,Dhoni,Surya,Saroj\n',
 'NTH,Narayana,Akhil,Arha,Venkat,Sravya,Ananya,Revanth,Aha\n',
 'ABC,Arha,Chinna,Satya,Dhoni,Venkat,Rohit,Yash,Nikhilesh\n']

how many lines in this file

In [10]:
a=open("nthdata.txt", "r")

In [11]:
b=a.readlines()

In [12]:
len(b)

6

how many character are in the line

In [1]:
# a=open("nthdata.txt", "r")
# b=a.read()
with open("nthdata.txt" , "r") as x:
    b = x.read()

len(b)

326

1. write a program to fetch all data feom the file

In [2]:
# a=open("nthdata.txt", "r")
# b=a.read()
with open("nthdata.txt","r") as file:
    b=file.read()
len(b)

326

2. write a program to read the first line from the file.

In [18]:
a=open("nthdata.txt", "r")
b=a.readline()
len (b)

50

3. write a program to read the last line from the file .

In [21]:
a=open("nthdata.txt","r")
b=a.readlines()
c=b[-1]
print(c)

ABC,Arha,Chinna,Satya,Dhoni,Venkat,Rohit,Yash,Nikhilesh

4. write a program to read the 3rd line from file.

In [26]:
a=open("nthdata.txt", "r")
b=a.readlines()
c=b[2]
print(c)

WIPRO,Satya,Kohli,Ram,Chinna,Pop,Amelia,Suresh,Arjuna

5. write a program to count total number of chracter in the file.

a=open("nthdata.txt", "r")
b=a.read()
print(len(b))

6. Write a Program to count total number of comma in the file

In [25]:
a = open("nthdata.txt", "r")
b = a.read()
c = b.count(',')
print(c)
a.close()

47

7. Write a progrsm to count total number of words in the 1st line in the file

In [27]:
a = open("nthdata.txt", "r")
b = a.readline()
c = b.split(',')
print(len(c))

9

8. Write a progrsm to count total number of lines in the files

In [28]:
a = open("nthdata.txt", "r")
b = a.readlines()
print(len(b))
a.close()

6

9. Write a program to count total number of "Sai" in the file

In [1]:
a=open("nthdata.txt", "r")
word="sai"
b=a.read()
c=b.split(",")
d=c.count(word)
print(d)

0

10. write a program to fetch the first word from each line in the file ?

In [4]:
a = open("nthdata.txt","r")
b =a.readlines()
for i in range(len(b)):
    c =b[i]
    d =c.split(",")
    print(d[0])

TCS
INFOSYS
WIPRO
CTS
NTH
ABC

11. write a program to fatch the last word from each line ?

In [5]:
a = open("nthdata.txt","r")
b =a.readlines()
for i in range(len(b)):
    c =b[i]
    d =c.split(",")
    print(d[-1])

Sas

Mishra

Arjuna

Saroj

Aha

Nikhilesh

12. write a program to fetch all words which starts with 'a' characters ?

In [5]:
with open("nthdata.txt","r") as file:
    b= file.read()
    data=b.replace("\n",",")
    data=data.split(",")
    for i in data:
        if i.startswith(("a","A")):
            print(i)

Amelia
Arjuna
Akhil
Arha
Ananya
Aha
ABC
Arha

13. write a program to fatch all words which end with an vowel?

In [13]:
with open("nthdata.txt","r") as file:
    b=file.read()
    data=b.replace("\n",",")
    data=data.split(",")
    result=[item for item in data if len(item)==5]
    print(result)

['Rohit', 'Satya', 'Dhoni', 'Saroj', 'Kohli', 'WIPRO', 'Satya', 'Kohli', 'Subha', 'Debha', 'Rabha', 'Dhoni', 'Surya', 'Saroj', 'Akhil', 'Satya', 'Dhoni', 'Rohit']

14. write a program to fatch all words which has either 'a' or 'i' characters in the file?

In [17]:
with open("nthdata.txt","r") as file:
    b=file.read()
    data=b.replace("\n",",")
    data=data.split(",")
    result=[item for item in data if ('a'or'A'or'i'or'I') in item]
    print(result)

['Sai', 'Satya', 'Sarath', 'Saroj', 'Venkat', 'Sas', 'Santosh', 'Venkat', 'Prabha', 'Soumya', 'Mishra', 'Satya', 'Ram', 'Chinna', 'Amelia', 'Arjuna', 'Prabha', 'Subha', 'Debha', 'Rabha', 'Venkat', 'Surya', 'Saroj', 'Narayana', 'Arha', 'Venkat', 'Sravya', 'Ananya', 'Revanth', 'Aha', 'Arha', 'Chinna', 'Satya', 'Venkat', 'Yash']

15. Write a program to fetch all words which contains only 5 characters in the file?

In [18]:
with open("nthdata.txt","r") as file:
    b=file.read()
    data=b.replace("\n",",")
    data=data.split(",")
    result=[item for item in data if len(item)==5]
    print(result)

['Rohit', 'Satya', 'Dhoni', 'Saroj', 'Kohli', 'WIPRO', 'Satya', 'Kohli', 'Subha', 'Debha', 'Rabha', 'Dhoni', 'Surya', 'Saroj', 'Akhil', 'Satya', 'Dhoni', 'Rohit']

16. Write a program to fetch all words which does not contains vowels except i in the file?

In [19]:
with open("nthdata.txt","r") as file:
    b=file.read()
    data=b.replace("\n",",")
    data=data.split(",")
    result=[item for item in data if ("i"in item or "I" in item)and all (v not in item for v in "aeouAEOU")]
    print(result)

[]

17. Write a program to fetch all words which ends with uppercase character in the file?

In [24]:
with open("nthdata.txt","r") as file:
    b=file.read()
    data=b.replace("\n",",")
    data=data.split(",")
    result=[item for item in data if item[-1].isupper()]
    print(result)

IndexError: string index out of range

18. Write a program to count total number of characters in the file excluding commas and \ns?

In [25]:
with open("nthdata.txt","r") as file:
    character = 0 
    b=file.read()
    for item in data:
        for i in item:
            if(","!=i!="\n"):
                character +=1
print("total no of character are",character)

total no of character are 273

19. Write a program to count total number of words in the entire file?

In [27]:
with open("nthdata.txt","r") as file:
    words = 0 
    b=file.read()
    for item in data:
        words +=1
print("total no of words are",words)

total no of words are 54

20. Write a program to fetch all even number words from from every line the file?

In [1]:
with open("nthdata.txt","r") as file:
    b=file.read()
    data=b.replace("\n",",")
    data=data.split(",")
    result=[item for item in data if len(item)%2==0]
    print(result)

['Sarath', 'Venkat', 'Venkat', 'Koti', 'Prabha', 'Soumya', 'Mishra', 'Chinna', 'Amelia', 'Suresh', 'Arjuna', 'Prabha', 'Venkat', 'Narayana', 'Arha', 'Venkat', 'Sravya', 'Ananya', 'Arha', 'Chinna', 'Venkat', 'Yash', '']

21. Write a program to fetch all words which ends with 'bha' in the file?

In [2]:
with open("nthdata.txt","r") as file:
    b=file.read()
    data=b.replace("\n",",")
    data=data.split(",")
    result=[item for item in data if item.endswith("bha")]
    print(result)

['Prabha', 'Prabha', 'Subha', 'Debha', 'Rabha']

22. Write a program to display all TCS employees?

In [3]:
with open("nthdata.txt","r") as file:
    b=file.read()
    # create a list  of element after each and every enter 
    data =b.split("\n")
    for i in range(len(data)):
        #breaking each element into sepparate list by comma and storing it 
        dataset = data[i].split(",")
        #if company name is TCS then printing employees names
        if dataset[0]=="TCS":
            print(dataset[1:])

['Sai', 'Rohit', 'Satya', 'Dhoni', 'Sarath', 'Saroj', 'Venkat', 'Sas']

23. Write a program to display the company name of Chinna Employee?

In [6]:
with open("nthdata.txt","r") as file:
    b=file.read()
    employee="Chinna"
    # create a list  of element after each and every enter 
    data =b.split("\n")
    result = [dataset[0]for dataset in (data[i].split(",")for i in range(len(data)))if employee in dataset]
    print(result)

['WIPRO', 'ABC']

24. Write a program to fetch the 2nd from 3rd line in the file?

In [1]:
with open("nthdata.txt","r") as file:
    b=file.read()
    #creating a list of elements after each and every enter
    data = b.split("\n")
    data = data[2]
    data = data.split(",")
    print(data[1])

Satya

25. Write a program to fetch the first character from each word in the 3rd line?

In [3]:
with open("nthdata.txt","r") as file:
    b=file.read()
    #creating a list of elements after each and every enter
    data = b.split("\n")
    data = data[2]
    data = data.split(",")
    for i in range(len(data)):
        print(data[i][0])

W
S
K
R
C
P
A
S
A

26. Write a program to fetch first and last character of each word in the last line?

In [13]:
with open("nthdata.txt","r") as file:
    b=file.read()
    #creating a list of elements after each and every enter
    data = b.split("\n")
    data = data[-1]
    data = data.split(",")
    for i in range(len(data)):
        print(f"first and last word in {data[i]} are respectively {data[i][0]} and {data[i][-1]}")

first and last word in ABC are respectively A and C
first and last word in Arha are respectively A and a
first and last word in Chinna are respectively C and a
first and last word in Satya are respectively S and a
first and last word in Dhoni are respectively D and i
first and last word in Venkat are respectively V and t
first and last word in Rohit are respectively R and t
first and last word in Yash are respectively Y and h
first and last word in Nikhilesh are respectively N and h

27. Write a program to fetch all characters(except 1st and last chars) of each word in the 2nd line?

In [15]:
with open("nthdata.txt","r") as file:
    b=file.read()
    #creating a list of elements after each and every enter
    data = b.split("\n")
    data = data[1]
    data = data.split(",")
    for i in range(len(data)):
        characterlist =[]
        for j in range(len(data[i])):
            if (j == 0 or j == (len(data[i])-1)):
                continue
            else:
                characterlist.append(data[i][j])
        print(characterlist)

['N', 'F', 'O', 'S', 'Y']
['o', 'h', 'l']
['a', 'n', 't', 'o', 's']
['e', 'n', 'k', 'a']
['o', 't']
['r', 'a', 'b', 'h']
['o', 'u', 'm', 'y']
['i', 's', 'h', 'r']

28. Write a program to count total number of words which starts with 'S' character?

29. Write a program to fetch all duplicate names in the file?

In [4]:
with open("nthdata.txt","r") as file:
    data=file.read()
    duplicate = []
    data = data.replace("\n" , ",")
    new = data.split(",")
    for i in new :
        if new.count(i) >1:
            if i not in duplicate:
                duplicate.append(i)
    print(duplicate)

['Rohit', 'Satya', 'Dhoni', 'Saroj', 'Venkat', 'Kohli', 'Prabha', 'Chinna', 'Arha']

30. Write a program to count all vowels in the file? (Note: output must be in dict)

In [6]:
with open("nthdata.txt","r") as file:
    b=file.read()
    vowels="aeiouAEIOU"
    vowels={
        "a":0,
        "e":0,
        "i":0, 
        "o":0, 
        "u":0
    }
    #crearing a list of element after each and every enter
    data = b.split("\n")
    #splitting each line by comma
    data= [item for line in data for item in line.split(",")]
    for i in data:
        if "a" in i:
            vowels["a"]=vowels["a"]+1
        if "e" in i:
            vowels["e"]=vowels["e"]+1
        if "i" in i:
            vowels["i"]=vowels["i"]+1
        if "o" in i:
            vowels["o"]=vowels["o"]+1    
        if "u" in i:
            vowels["u"]=vowels["u"]+1       
    print(vowels)

{'a': 35, 'e': 10, 'i': 15, 'o': 13, 'u': 5}

31. Write a program to reverse all words in the file?

In [7]:
with open("nthdata.txt","r") as file:
    b=file.read()
    reversed = []
    data = b.replace("\n" , ",")
    data = data.split(",")
    for i in new :
        reversed.append(i[::-1])
    print(reversed)

['SCT', 'iaS', 'tihoR', 'aytaS', 'inohD', 'htaraS', 'joraS', 'takneV', 'saS', 'SYSOFNI', 'ilhoK', 'hsotnaS', 'takneV', 'itoK', 'ahbarP', 'aymuoS', 'arhsiM', 'ORPIW', 'aytaS', 'ilhoK', 'maR', 'annihC', 'poP', 'ailemA', 'hseruS', 'anujrA', 'STC', 'ahbarP', 'ahbuS', 'ahbeD', 'ahbaR', 'takneV', 'inohD', 'ayruS', 'joraS', 'HTN', 'anayaraN', 'lihkA', 'ahrA', 'takneV', 'ayvarS', 'aynanA', 'htnaveR', 'ahA', 'CBA', 'ahrA', 'annihC', 'aytaS', 'inohD', 'takneV', 'tihoR', 'hsaY', 'hselihkiN']

32. Write a program to fetch all words which contains two or more then 'a' characters?

In [13]:
with open("nthdata.txt","r") as file:
    b=file.read()
    reversed = []
    data = b.replace("\n" , ",")
    data = data.split(",")
    for i in data :
        if i.count("a")>=2:
            print(i)

Satya
Sarath
Prabha
Satya
Prabha
Rabha
Narayana
Sravya
Ananya
Satya

33. Write a program to fetch all words which starts and ends with 'a' character?

In [11]:
with open("nthdata.txt","r") as file:
    b=file.read()
    data = b.replace("\n" , ",")
    data = data.split(",")
    for i in data:
        if (i.startswith("a")or i.startswith("A")) and (i.endswith("a")or i.endswith("A")):         
            print(i)

Amelia
Arjuna
Arha
Ananya
Aha
Arha

34. Write a program to fetch word which has more number of 'a' characters?

In [14]:
with open("nthdata.txt","r") as file:
    b=file.read()
    data = b.replace("\n" , ",")
    data = data.split(",")
    for i in data:
        if i.count("a")>=2:
            print(i)

Satya
Sarath
Prabha
Satya
Prabha
Rabha
Narayana
Sravya
Ananya
Satya

35. Write a program to fetch all company names which starts with vowel?